<div class="container">
<p>Welcome to Member Registration Portal.</p>
<div class="content-wrapper">
    <div class="container-fluid">
      <div class="row">

      <!-- Icon Cards-->
      <div class="col-lg-6 mb-4" [routerLink]="'/claimPage'">
        <div class="card customCard">
            <div class="card-body">
                <br>
                <p class="card-text">
                    SUBMIT CLAIM
                </p>
                <br>
            </div>
        </div>
        </div>
    <div class="col-lg-6 mb-4" [routerLink]="'/updateUser'">
        <div class="card customCard">
            <div class="card-body">
                <br>
                <p class="card-text">
                    UPDATE PROFILE
                </p>
                <br>
            </div>
        </div>
    </div>

        </div>
    </div>
</div>
<!-- <div class="card col-sm">
    <div class="card-body">
        <p class="card-text">Please select below button to Submit claim.</p>
        <div class="row">
            <div class="col">
                <button [routerLink]="'/claimPage'" class="btn btn-primary" type="submit">Submit claim</button><br>
            </div>
        </div>
    </div>
</div>
<div class="card col-sm">
    <div class="card-body">
        <p class="card-text">Please select below button to Submit claim.</p>
        <div class="row">
            <div class="col">
                <button [routerLink]="'/claimPage'" class="btn btn-primary" type="submit">Submit claim</button><br>
            </div>
        </div>
    </div>
</div> -->
<!-- <div class="card">
    <div class="card-body">
        <p class="card-text">Please select below button to Edit a submitted claim.</p>
        <div class="row">
            <div class="col">
                <button class="btn btn-primary" type="submit">Edit claim</button>
            </div>
        </div>
    </div>
</div> -->
<hr>
<div class="alert alert-danger" *ngIf="error">An error occurred. {{ error }}</div>
<!-- <div *ngIf="!noRecordsFound && !error">Loading...</div> -->
<div *ngIf="!error">
    <h4>Submitted claims</h4>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">DOB</th>
            <th scope="col">Provider Name</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody  *ngIf="claims.length >= 1">
          <tr *ngFor="let item of claims" [claimsVal]="item">
            <td>{{ item.lastName }}, {{ item.firstName }}</td>
            <td>{{ item.dob }}</td>
            <td>{{ item.providerName }}</td>
            <td><a href="#" [routerLink]="['/editClaim', 'edit', item.id]">Edit Claim</a> | 
              <a [routerLink]="" (click)="deleteClaim(item.id)">Delete Claim</a></td>
          </tr>
        </tbody>
        <tbody  *ngIf="noRecordsFound">
            <tr>
              <td class="table-danger" colspan=4>No records found.</td>
            </tr>
        </tbody>
    </table>
    
</div>
</div>